.forgot-password-form {
  .back-to-login {
    text-align: center;
    line-height: 30px;
    height: 40px;
    padding: 5px;
    a {
      font-weight: bold;
    }
  }

  .actions {
    margin-top: 25px;
  }
}
